<a href="/product/<%= product.id %>" class="product-card-link">
  <img src="<%= product.image || '/images/default.jpg' %>" alt="<%= product.name %>" class="product-image">
  <h3 class="product-name"><%= product.name %></h3>
  <p class="product-price"><%= product.price.toLocaleString('vi-VN') %>đ</p>
</a>