<div class="header">
    <img src="\images\VPQlogo.png" alt="VPQlogo" class="logo">
    <div class="search-container">
        <input type="search" name="search-product" class="search-box" placeholder="Tìm kiếm...">
        <button class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <a href="/cart" class="cart-btn">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-count"><%= totalQuantity >= 100 ? '99+' : totalQuantity %></span>

    </a>
    <div id="user-dropdown">
        <a href="#" class="user-btn"><i class="fa fa-user"></i></a>
        <div id="user-dropdown-content">
            <% if (!user) { %>
            <!-- Chưa đăng nhập -->
            <a href="/login">Đăng nhập</a>
            <a href="/signin">Đăng ký</a>

            <% } else { %>
                <!-- Đã đăng nhập -->
                <a href="/user-infomation">Tài khoản của tôi</a>
                <a href="/logout">Đăng xuất</a>
            <% } %>
        </div>
    </div>
    <nav class="navbar">
        <a href="/" class="nav-link">TRANG CHỦ</a>
        <div class="catalog-dropdown">
            <a href="/product-list" class="nav-link">DANH MỤC <i class="fa fa-chevron-down"></i></a>  
            <div class="catalog-dropdown-content">
                <% if (categoriesForNav && categoriesForNav.length > 0) { %>
                    <% categoriesForNav.forEach(parentCategory => { %>
                        <div class="catalog-dropdown-col">
                            <a href="/product-list?category=<%= parentCategory.id %>" class="parent">
                                <% if (parentCategory.id === 1) { %>
                                    <i class="fa-solid fa-person-dress"></i>
                                <% } else { %>
                                    <i class="fa-solid fa-person"></i>
                                <% } %>
                                <%= parentCategory.name %>
                            </a>
                            <% if (parentCategory.children && parentCategory.children.length > 0) { %>
                                <% parentCategory.children.forEach(childCategory => { %>
                                    <a href="/product-list?category=<%= childCategory.id %>" class="child"><%= childCategory.name %></a>
                                <% }); %>
                            <% } %>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>Không có danh mục nào</p>
                <% } %>
            </div>
        </div>
        <div id="support-dropdown">
            <a href="" class="nav-link">HỖ TRỢ <i class="fa fa-chevron-down"></i></a>
            <div id="support-dropdown-content">
                <a href="/contact">Liên hệ</a>
                <a href="/return-policy">Hướng dẫn đổi trả hàng</a>
                <a href="/size">Hướng dẫn chọn size</a>
            </div>
        </div>
    </nav>
</div>
