<!-- ===== SLIDER ===== -->
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner1.png"></div>
        <div class="swiper-slide"><img src="images/banner2.png"></div>
        <div class="swiper-slide"><img src="images/banner3.png"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>

<!-- ===== SALE TAG ===== -->
<div class="tag">
    <a href="/product-list?sale=1" class="sale-tag">SALE UP TO 50%</a>
</div>

<!-- ===== SALE PRODUCTS ===== -->
<div class="sale-container">
    <i class="fa-solid fa-angle-left sale-nav-btn"></i>

    <div class="sale product-container">
        <% if (saleTop10.length > 0) { %>
            <% saleTop10.forEach(product => { %>
                <div class="product-card"
                     onclick="location.href='/product-infomation?id=<%= product.id %>'">
                    <div class="card-img">
                        <img src="<%= product.images?.[0]  ? '/uploads/products/' + product.images[0] : '/images/img-product-default.png' %>">
                    </div>
                    <div class="product-info">
                        <a class="product-name"><%= product.name %></a>
                        <div class="product-price">
                            <p class="discount-price">
                                <%= formatPrice(product.final_price) %>đ
                            </p>
                            <p class="origin-price">
                                <%= formatPrice(product.price) %>đ
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>

    <i class="fa-solid fa-angle-right sale-nav-btn"></i>
</div>

<!-- ===== CATEGORY PRODUCTS ===== -->
<% categoriesWithProducts.forEach(category => { %>

    <div class="tag-group">
        <div class="tag">
            <a href="/product-list?category=<%= category.id %>" class="catalog-tag">
                <%= category.name %>
            </a>
        </div>

        <div class="tag-child">
            <% category.children.forEach(child => { %>
                <a href="/product-list?category=<%= child.id %>" class="tag-item">
                    <%= child.name %>
                </a>
            <% }) %>
        </div>
    </div>

    <div class="product-container">
        <% if (category.products.length > 0) { %>
            <% category.products.forEach(product => { %>
                <div class="product-card<%= product.discount_percent ? '' : ' nodiscount' %>" onclick="location.href='/product-infomation?id=<%= product.id %>'">
                    <div class="card-img">
                        <img src="<%= product.images?.[0] ? '/uploads/products/' + product.images[0]: '/images/shirt.png' %>">
                    </div>
                    <div class="product-info">
                        <a class="product-name"><%= product.name %></a>
                        <div class="product-price">
                            <% if (product.discount_percent > 0) { %>
                                <p class="discount-price">
                                    <%= formatPrice(product.final_price) %>đ
                                </p>
                                <p class="origin-price">
                                    <%= formatPrice(product.price) %>đ
                                </p>
                            <% } else { %>
                                <p class="origin-price nodis">
                                    <%= formatPrice(product.price) %>đ
                                </p>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>

<% }) %>

<!-- ===== SALE SCROLL ===== -->
<script>
(() => {
    const container = document.querySelector('.sale.product-container');
    const btnL = document.querySelector('.fa-angle-left');
    const btnR = document.querySelector('.fa-angle-right');
    if (!container) return;

    const scroll = dir => {
        const card = container.querySelector('.product-card');
        container.scrollBy({
            left: (card?.offsetWidth || 200) * dir,
            behavior: 'smooth'
        });
    };

    btnR.onclick = () => scroll(1);
    btnL.onclick = () => scroll(-1);
})();
</script>
