<div class="product-infor-page">
    <div class="product-wrapper">

        <!-- Hình ảnh sản phẩm -->
        <div class="product-image">
            <div class="main-img">
                <img id="mainImage" src="<%= product.image %>" alt="<%= product.name %>" />
            </div>

            <div class="thumbnails">
                <img class="thumbnails-img" src="<%= product.image %>" onclick="changeMainImage(this)" />
                <img class="thumbnails-img" src="<%= product.image %>" onclick="changeMainImage(this)" />
                <img class="thumbnails-img" src="<%= product.image %>" onclick="changeMainImage(this)" />
            </div>
        </div>

        <!-- Thông tin sản phẩm -->
        <div class="product-info-page">
            <h1 class="product-title"><%= product.name %></h1>

            <div class="product-price">
                <p class="discount-price"><%= product.price.toLocaleString() %>đ</p>
                <p class="origin-price">700.000đ</p>
            </div>

            <div class="product-review-simple">
                <div class="product-rated"><p><i class="fa-solid fa-star"></i> 4.9</p></div>
                <div class="product-sold"><p>3k+ đã bán</p></div>
            </div>
            <hr class="price-divider" />

            <!-- SIZE -->
            <div class="size-options">
                <label>Size</label>
                <div class="size-list">
                    <button class="size-btn selected" onclick="selectSize(this)">S</button>
                    <button class="size-btn" onclick="selectSize(this)">M</button>
                    <button class="size-btn" onclick="selectSize(this)">L</button>
                    <button class="size-btn" onclick="selectSize(this)">XL</button>
                </div>
            </div>

            <!-- Số lượng -->
            <div class="quantity">
                <label>Số lượng</label>
                <div class="quantity-controls">
                    <button class="quantity-btn" onclick="changeQuantity(-1)">-</button>
                    <input type="text" class="quantity-input" value="1" id="quantity" readonly />
                    <button class="quantity-btn" onclick="changeQuantity(1)">+</button>
                    <span class="stock-info">(còn 25 sản phẩm)</span>
                </div>
            </div>

            <!-- Nút hành động -->
            <div class="actions">
                <button class="btn btn-cart" 
                    id="addToCart"
                    data-id="<%= product.id %>"
                    data-name="<%= product.name %>"
                    data-price="<%= product.price %>"
                    data-image="<%= product.image %>">
                    <i class="fa-solid fa-cart-shopping cart-icon"></i>
                    Thêm vào giỏ hàng
                </button>

                <button class="btn btn-buy">MUA NGAY</button>
            </div>
        </div>
    </div>

    <!-- MÔ TẢ SẢN PHẨM -->
    <div class="dropdown-box">
        <div class="dropdown-description" onclick="toggleDropdown('desc')">
            <div class="icon-text">
                <i class="fa-solid fa-circle-exclamation"></i>
                Mô tả sản phẩm
                <span class="arrow">▼</span>
            </div>
        </div>

        <div class="dropdown-content" id="desc">
            Lumi Top là lựa chọn lý tưởng cho những ai yêu sự nhẹ nhàng và nữ tính. Thiết kế nhấn với tay áo phồng bồng
            bềnh, cổ chữ V viền ren dịu dàng tôn vẻ thanh thoát.
            <br><b>Chi tiết:</b><br />
            • Dáng lửng, bo nhún linh hoạt ở eo<br />
            • Cổ V nữ tính, phối viền và lót ren bên trong<br />
            • Tay phồng nhẹ, bo chun ở cổ tay<br />
            • Vải cotton thêu siêu nhẹ, mát mẻ<br />
            • Màu sắc: Xanh nhạt<br />
            • Chất liệu: Cotton thêu phối ren<br />
            • Người mẫu mặc size S<br />
            • Sản xuất tại Việt Nam
        </div>
    </div>

    <!-- GIAO HÀNG -->
    <div class="dropdown-box">
        <div class="dropdown-shipping" onclick="toggleDropdown('shipping')">
            <div class="icon-text">
                <i class="fa-solid fa-truck-fast truck-icon"></i>
                Thời gian nhận hàng
                <span class="arrow">▼</span>
            </div>
        </div>

        <div class="dropdown-content" id="shipping">
            <b>TIÊU CHUẨN:</b> 10-15 ngày<br />
            Không bao gồm thời gian xử lý hải quan 7-10 ngày.
            <br><br />
            Thời gian giao hàng được tính trong ngày làm việc chỉ dành cho khu vực thành phố lớn và chỉ là ước tính.
            Thời gian vận chuyển do các hãng chuyển phát cung cấp và có thể thay đổi tùy thuộc vào địa điểm và điều kiện
            bên ngoài.
            <br><br />
            Trong thời gian bán hàng, vui lòng cho phép thêm thời gian.
            Không giao hàng đến hộp thư Bưu điện hoặc Tủ đựng Bưu kiện.
        </div>
    </div>
</div>

<script>
    // đổi ảnh 
    function changeMainImage(thumbnail) {
        const mainImg = document.getElementById("mainImage");
        const thumbnailsImg = document.querySelectorAll('.thumbnails-img');
        mainImg.src = thumbnail.src;
        thumbnailsImg.forEach(img => img.classList.remove('active'));
        thumbnail.classList.add('active');
    }
    // đóng mở dropdown 
    function toggleDropdown(type) {
        const content = document.getElementById(type);
        const arrow = content.previousElementSibling.querySelector(".arrow");

        content.classList.toggle("open");
        arrow.classList.toggle("open");
    }

    // chọn size    
    function selectSize(button) {
        const allSize = document.querySelectorAll('.size-btn');
        allSize.forEach(btn => btn.classList.remove('selected'));
        button.classList.add('selected');
    }

    function changeQuantity(change) {
        const input = document.getElementById("quantity");
        let current = parseInt(input.value);
        // Tính số mới
        let newValue = current + change;
        if (newValue < 1) newValue = 1;
        const maxStock = 25; ///////////
        if (newValue > maxStock) newValue = maxStock;
        input.value = newValue;
    }

    document.getElementById("addToCart").onclick = function () {
    const btn = this;
    const size = document.querySelector(".size-btn.selected")?.innerText;
    if (!size) return alert("Chọn size trước!");

    const quantity = Number(document.getElementById("quantity").value);

    fetch("/cart/add", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            productId: btn.dataset.id,
            name: btn.dataset.name,
            price: Number(btn.dataset.price),
            image: btn.dataset.image,
            size,
            quantity
        })
    })
    .then(res => res.json())
    .then(data => {
        // Cập nhật cart count icon
        document.querySelector(".cart-count").innerText = data.cartCount;

        // Thông báo
        alert(`Đã thêm ${quantity} sản phẩm vào giỏ!`);
    })
    .catch(err => console.log("Lỗi:", err));
};
</script>