<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- css     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> <!-- carousel -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/userHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/searchResult.css">
    <link rel="stylesheet" href="/css/productInfor.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/shoppingPage.css">
    <link rel="stylesheet" href="/css/userPage.css">
    <link rel="stylesheet" href="/css/userInfo.css">
    <link rel="stylesheet" href="/css/myOrder.css">
    <link rel="stylesheet" href="/css/myOrderDetail.css">
    <link rel="stylesheet" href="/css/changePassword.css">
    <link rel="stylesheet" href="/css/contactPage.css">
    <link rel="stylesheet" href="/css/sizePage.css">
    <link rel="stylesheet" href="/css/returnPolicy.css">

</head>

<body>
    <header>
        <%- include('../partials/userHeader') %>
    </header>

    <%- include('../partials/breadcrumb') %>

    <main>
        <%- body %>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <!-- js  -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> <!-- carousel -->
    <script src="/js/navScroll.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/myOrder.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/menuClick.js"></script>
    <script src="/js/productInfo.js"></script>
</body>
</html>