<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- css     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> <!-- carousel -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/userHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/productCard.css">   
    
    <!-- load khi là trang search -->
    <% if (typeof isSearch !== 'undefined' && isSearch) { %>
        <link rel="stylesheet" href="/css/searchResult.css">
    <% } %>
   
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <%- include('../partials/userHeader') %>
    </header>

    <%- include('../partials/breadcumb') %>

    <main>
        <%- body %>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

<!-- js  -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> <!-- carousel -->
<script src="/js/navScroll.js"></script>
<script src="/js/carousel.js"></script>

</html>